/* /experience styles */

.experience-wrapper {
    margin: 4.5rem auto 0 auto; 
    height: 100%; 
    text-align: center;
}

.experience-wrapper h2 {
    font-family: Lato, Helvetica, Arial, Lucida, sans-serif; 
    font-size: 2rem;
}

.experience-wrapper div {
    margin: 0 auto;
    width: 60vw;
}

.experience-wrapper hr {
    margin: 1.5rem 0 2rem 0
}

.experience-wrapper p {
    font-family: Merriweather, Georgia, Times New Roman, serif; 
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .experience-wrapper div {
        width: 80vw;
    }   
}

.experience-img {
    width: 60vw;
}

@media screen and (max-width: 768px) {
    .experience-img {
        width: 80vw;
    }   
}

.say-hello {
    font-family: Merriweather, Georgia, Times New Roman, serif; 
    font-size: 1.5rem; 
    text-align: center;
}

.say-hello a {
    color: blue;
}

/* Exp styles */

.exp h4 {
    font-family: Lato, Helvetica, Arial, Lucida, sans-serif;
    font-size: 1.4rem;
}

.exp p {
    font-family: Merriweather, Georgia, Times New Roman, serif;
    font-size: 1.1rem;
    text-align: center;
}