/* Header styles */

.bf-logo {
    height: 4rem;
    position: absolute; 
    top: 12px; 
    left: 6px;
}

.nav-links {
    position: absolute; 
    top: 12px; 
    right: 12px; 
    height: 3rem; 
    font-family: Lato,Helvetica,Arial,Lucida,sans-serif; 
    font-size: 1.2rem; 
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: blue;
}

.nav-links div {
    text-decoration: none;
    color: blue;
}

.nav-link {
    margin: 0 0.5rem;
}

.nav-link:hover {
    border-bottom: 1.5px solid blue;
}

/* Responsive menu styles */

.burger {
    display: none;
    color: black !important;
    background-color: white; 
    border: none;
    text-decoration: none;
}

.burger-div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

@media screen and (max-width: 768px) {
    .burger {
        display: inline;
    }
}

@media screen and (max-width: 768px) {
    .nav-links-none {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .nav-links {
        position: relative; 
        top: 0; 
        right: 0;
        height: 400px; 
        flex-direction: column;
        justify-content: space-evenly; 
        align-items: center;
        border-bottom: solid 1px lightgrey;
    }   
}

@media screen and (max-width: 768px) {
    .burger {
        display: block;
        position: absolute; 
        top: 25px; 
        right: 25px;
    }   
}

button:focus {
    outline: 0;
}