.index-text {
    margin: 0 auto;
    width: 60vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .index-text {
        width: 80vw;
    }
}

.index-text h2 {
    font-family: Lato, Helvetica, Arial, Lucida, sans-serif;
    font-size: 2rem;
    text-align: center;
}

.index-text p {
    font-family: Merriweather, Georgia, Times New Roman, serif;
    font-size: 1.5rem;
}

.index-text a {
    color: darkorchid;
}

.say-hello {
    font-family: Merriweather, Georgia, Times New Roman, serif;
    font-size: 1.5rem;
    text-align: center;
}

.say-hello a {
    color: darkorchid;
}