/* /projects styles */

.projects-text {
    margin: 4.5rem auto 0 auto; 
    height: 100%; 
    text-align: center;
}

.projects-text h2 {
    font-family: Lato, Helvetica, Arial, Lucida, sans-serif; 
    font-size: 2rem;
}

.projects-text div {
    display: flex; 
    justify-content: space-evenly; 
    flex-wrap: wrap;
}

.say-hello {
    font-family: Merriweather, Georgia, Times New Roman, serif; 
    font-size: 1.5rem; 
    text-align: center;
}

.say-hello a {
    color: blue;
}

/* Project card styles */

.project-card-wrapper {
    width: 370px; 
    margin: 0.5rem; 
    padding: 0.5rem 0 1.5rem 0; 
    border: solid 1px lightgrey; 
    border-radius: 1rem;
}

@media screen and (max-width: 500px) {

    .project-card-wrapper {
        width: 90vw; 
    }

}

@media screen and (max-width: 500px) {
    
    .project-card-img {
        max-width: 89vw;
    }
    
}

/* Project card (image with buttons) styles */

.project-card {
    font-family: Merriweather, Georgia, Times New Roman, serif;
    font-size: 1.2rem;
    position: relative;
}

.project-card-img {
    opacity: 1;
    display: block;
    backface-visibility: hidden;
    width: 366px;
    height: 199px;
    margin: 0 auto;
    position: absolute;
}

.project-buttons {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
}

.project-card:hover .project-card-img {
    opacity:0.3;
}

.project-card:hover .project-buttons {
    opacity:1;
}

.project-button {
    background-color: blue;
    color: white;
    font-size: 1.1rem;
    padding: 5px;
    margin: 5px 5px 10px 5px;
    border-radius: 5px;
    border: solid 2px blue;
    font-weight: bold;
    text-decoration: none;
    font-family: Lato, Helvetica, Arial, Lucida, sans-serif;
}

.project-button:hover {
    background-color: white; 
    color: blue;
}

/* Project content (text and tech images) */

.project-content {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.project-content h4 {
    font-family: Lato, Helvetica, Arial, Lucida, sans-serif;
    font-size: 1.4rem;
}

.project-content p {
    font-family: Merriweather, Georgia, Times New Roman, serif; 
    font-size: 1.1rem;
    margin-top: 0;
}

.project-content div {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
}

.project-content img {
    height: 25px; 
    margin: 0.5rem;
}

