/* Global styles */

body {
  margin: 0;
  font-size: 1.1rem;
}

h2 {
  font-family: Lato, Helvetica, Arial, Lucida, sans-serif;
  font-size: 2rem;
  text-align: center;
}

p {
  font-family: Merriweather, Georgia, Times New Roman, serif;
}

a {
  color: darkorchid;
  text-decoration: none;
}

.say-hello {
  font-family: Merriweather, Georgia, Times New Roman, serif;
  font-size: 1.5rem;
  text-align: center;
}

.page-wrapper {
  margin: 0 auto;
  width: 60vw;
}

@media screen and (max-width: 768px) {
  .page-wrapper {
    width: 80vw;
  }
}

.purple-button {
  background-color: darkorchid;
  color: white;
  padding: 5px;
  margin: 5px 5px 10px 5px;
  border-radius: 5px;
  border: solid 2px darkorchid;
  font-weight: bold;
  text-decoration: none;
  font-family: Lato, Helvetica, Arial, Lucida, sans-serif;
  height: 21px;
  width: 100px;
}

.purple-button:hover {
  background-color: white;
  color: darkorchid;
}

/* Header styles */

.navbar {
  height: 4rem;
}

.bf-logo {
  height: 4rem;
  position: absolute;
  top: 12px;
  z-index: 100;
}

.nav-links {
  position: absolute;
  top: 12px;
  right: 12px;
  height: 4rem;
  font-family: Lato, Helvetica, Arial, Lucida, sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  margin: 0 0.5rem;
}

.nav-link:hover {
  border-bottom: 1.5px solid darkorchid;
}

/* Responsive menu styles */

.burger {
  display: none;
  color: black;
  border: none;
  z-index: 150;
}

.burger-div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 2px;
}

@media screen and (max-width: 850px) {
  .burger {
      display: inline;
  }
}

@media screen and (max-width: 850px) {
  .nav-links-none {
      display: none;
  }
}

@media screen and (max-width: 850px) {
  .nav-links {
      position: relative;
      top: 0;
      right: 0;
      background-color: white;
      height: 400px;
      flex-direction: column;
      justify-content: space-evenly;
      border-bottom: solid 2px lightgrey;
      z-index: 50;
  }
}

@media screen and (max-width: 850px) {
  .burger {
      display: block;
      position: absolute;
      top: 25px;
      right: 25px;
  }
}

.burger:focus {
  outline: 0;
}

/* Footer styles */

.footer-wrapper {
  font-family: Merriweather, Georgia, Times New Roman, serif; 
  background-color: #f6f9fc; 
  padding: 0.5rem 0;
}

.footer-wrapper div {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.footer-wrapper span {
  font-weight: bold; 
  text-decoration: underline;
}

.footer-wrapper img {
  margin: 0.3rem; 
  height: 25px;
}

/* Homepage styles */

.homepage-paragraph {
  font-size: 1.5rem;
}

/* Projects styles */

.projects-text {
  height: 100%;
  text-align: center;
}

.projects-text div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Project card styles */

.project-card-wrapper {
  width: 370px;
  margin: 0.5rem;
  padding: 0.5rem 0 1.5rem 0;
  border: solid 1px lightgrey;
  border-radius: 1rem;
}

@media screen and (max-width: 500px) {

  .project-card-wrapper {
      width: 90vw;
  }

}

@media screen and (max-width: 500px) {

  .project-card-img {
      max-width: 89vw;
  }

}

.project-card {
  font-family: Merriweather, Georgia, Times New Roman, serif;
  position: relative;
}

.project-card-img {
  opacity: 1;
  display: block;
  backface-visibility: hidden;
  width: 366px;
  height: 199px;
  margin: 0 auto;
  position: absolute;
}

.project-buttons {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
}

.project-card:hover .project-card-img {
  opacity: 0.3;
}

.project-card:hover .project-buttons {
  opacity: 1;
}

/* Project content (text and tech images) */

.project-content {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.project-content h4 {
  font-family: Lato, Helvetica, Arial, Lucida, sans-serif;
  font-size: 1.4rem;
}

.project-content p {
  font-family: Merriweather, Georgia, Times New Roman, serif;
  margin-top: 0;
}

.left-paragraph {
  text-align: left;
  padding: 0 5px 0 15px;
}

.project-content div {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}

.project-content img {
  height: 25px;
  margin: 0.5rem;
}

/* Experience styles */

.page-break {
  margin: 1.5rem 0 2rem 0
}

/* Exp styles */

.exp h4 {
  font-family: Lato, Helvetica, Arial, Lucida, sans-serif;
  font-size: 1.4rem;
  text-align: center;
}

.exp p {
  font-family: Merriweather, Georgia, Times New Roman, serif;
  text-align: center;
}

.exp-dates {
  font-style: italic;
}

.left-paragraph {
  text-align: left !important;
}

/* Writing styles */

.blogpost-link {
  color: black;
  text-decoration: none;
}

.blogpost-link h4 {
  font-family: Lato, Helvetica, Arial, Lucida, sans-serif;
  font-size: 1.4rem;
  color: darkorchid;
  text-decoration: underline;
}

/* Books styles */

.books-wrapper {
  margin: 0 auto;
  width: 80vw;
}

.books-wrapper p {
  font-size: 1.5rem;
  text-align: center;
}

.books-container div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.books-container img {
  height: 333px;
  width: 218px;
  margin: 1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

.books-container img:hover {
  margin-top: 2px;
}

.book-notes {
  font-family: Lato, Helvetica, Arial, Lucida, sans-serif;
  list-style: none;
  text-align: center;
}

.book-notes li {
  margin: 1rem;
}

.book-notes a {
  font-size: 1.4rem;
}

/* Contact styles */

.contact-wrapper {
  margin: 0 auto;
  height: 100%;
  text-align: center;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input-wrapper {
  display: flex;
  justify-content: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-input label {
  font-family: Merriweather, Georgia, Times New Roman, serif;
  font-size: 1.5rem;
  text-align: center;
}

.form-input input {
  margin: 0.5rem;
  padding: 1rem;
  border: solid 1px lightgrey;
  border-radius: 1rem;
  font-family: Merriweather, Georgia, Times New Roman, serif;
  font-size: 1.4rem
}

.form-input textarea {
  margin: 0.5rem;
  padding: 1rem;
  border: solid 1px lightgrey;
  border-radius: 1rem;
  font-family: Merriweather, Georgia, Times New Roman, serif;
  font-size: 1.4rem
}

.contact-button {
  background-color: darkorchid;
  color: white;
  font-size: 1.1rem;
  padding: 5px;
  margin: 5px 5px 10px 5px;
  border-radius: 5px;
  border: solid 2px darkorchid;
  font-weight: bold;
  text-decoration: none;
  font-family: Lato, Helvetica, Arial, Lucida, sans-serif
}
  
  /* Post styles */

.markdown h2 {
  font-family: Lato, Helvetica, Arial, Lucida, sans-serif;
  font-size: 1.4rem;
}

.markdown p {
  font-family: Merriweather, Georgia, Times New Roman, serif;
}

.markdown img {
  width: 60vw;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .markdown img {
      width: 80vw;
  }
}

.markdown code {
  color: #a700ff;
  padding: 2px;
  font: 15px Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace
}

.markdown pre code {
  background: #f6f9fc;
  border: 1px solid #ddd;
  border-left: 3px solid #62DAFC;
  color: #666;
  page-break-inside: avoid;
  font: 15px Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* Blog post styles */

.blogpost-title {
  font-family: Lato, Helvetica, Arial, Lucida, sans-serif;
  font-size: 2.4rem;
}

.blogpost-date {
  font-family: Merriweather, Georgia, Times New Roman, serif;
  font-size: 1.4rem;
  font-style: italic;
  color: grey;
}

/* Success and error styles */

.success-error {
  text-align: center;
  font-family: Raleway, sans-serif; 
}

.success-error h1 {
  font-family: Monaco,Consolas, 'Andale  Mono', 'DejaVu Sans Mono', monospace; 
  font-size: 168px; 
  margin: 0px; 
  color: #a9a9a9; 
  text-transform: uppercase;
}

.success-error p {
  font-family: Raleway, sans-serif; 
  font-size: 22px; 
  font-weight: 400; 
  text-transform: uppercase; 
  color: #222; 
}

.success-error div {
  font-weight: 700; 
  color: darkorchid; 
  font-size: 22px; 
}

.homepage-link {
  color: #a9a9a9;
  font-weight: 700; 
}